<section>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome da startup</mat-label>
          <input matInput placeholder="Digite o nome aqui" value="" id="nome" #nome>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Quantidade de Funcionários</mat-label>
          <input matInput placeholder="Digite o nome aqui" value="" type="number" id="qtdFuncionarios" #qtdFuncionarios>
        </mat-form-field>
      </form>
      <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tipo de indústria</mat-label>
            <input matInput placeholder="Digite o nome aqui" value="" id="industria" #industria>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>localização</mat-label>
            <input matInput placeholder="Digite o nome aqui" value="" id="localizacao" #localizacao>
          </mat-form-field>
        </form>
        
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Rank</mat-label>
          <input matInput placeholder="Digite o nome aqui" value="666" type="number" id="rank" #rank>
        </mat-form-field>
            <mat-form-field appearance="fill">
            <mat-label>Série de Investimento</mat-label>
            <mat-select>
                <mat-option *ngFor="let categoria of categorias" [value]="categoria" id="categoria" #categoria>
                {{categoria}}
                </mat-option>
            </mat-select>
            </mat-form-field>
      </form>
        
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput placeholder="Descrição" id="descricao" #descricao></textarea>
      </mat-form-field>
    <!-- <div>
        <button class = "button" type="button" (click)="onClickMe()">Click me!</button>
    </div> -->
    <div class="button">
        <button mat-raised-button><a routerLink="/addNew" (click)="onClickMe(nome.value, qtdFuncionarios.value, industria.value, localizacao.value, rank.value, descricao.value)">Concluir</a></button>
        <button mat-raised-button><a routerLink="/table">Cancel</a></button>
    </div>
  </section>
  <mat-divider></mat-divider>