<form class="example-form">
<mat-form-field appearance="fill">
  <mat-label>Série de Investimento</mat-label>
  <mat-select>
    <mat-option *ngFor="let categoria of categorias" [value]="categoria">
      {{categoria}}
    </mat-option>
  </mat-select>
</mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Localizacao</mat-label>
    <input type="text" matInput [formControl]="controleAutoComplete" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let startup of filteredOptions | async" [value]="startup.localizacao">
        {{startup.localizacao}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<h6>Quantidade de funcionários</h6> 
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="10000"
  step="1"
  min="0"
  max="1000"
  aria-label="units">
</mat-slider>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let startup"> {{startup.id}}.{{startup.name}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="qtdFuncionarios">
      <mat-header-cell *matHeaderCellDef> Quantidade de funcionários </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.qtdFuncionarios}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="industria">
      <mat-header-cell *matHeaderCellDef> industria </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.industria}} </mat-cell>
    </ng-container>
<!--  -->
    <ng-container matColumnDef="localizacao">
      <mat-header-cell *matHeaderCellDef> localizacao </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.localizacao}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef> descricao </mat-header-cell>
        <mat-cell *matCellDef="let startup"> {{startup.descricao}} </mat-cell>
      </ng-container>

      
    <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef> rank </mat-header-cell>
        <mat-cell *matCellDef="let startup"> {{startup.rank}} </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"[routerLink]="['/detail/'+row.id]"></mat-row>
</table>