table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
section {
  display: table;
}

.button {
  display: table-cell;
  width: 490px;
}

.button .mat-button-base {
  margin: 8px 8px 8px 0;
}

mat-slider {
  width: 505px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
