<mat-table [dataSource]="dataSet$" class="mat-elevation-z8"*ngIf="dataSet$ | async as resultSet">
    <ng-container matColumnDef="nome">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let startup"> {{startup.nome}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="qtdFuncionarios">
      <mat-header-cell *matHeaderCellDef> Quantidade de funcionários </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.qtdFuncionarios}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="industria">
      <mat-header-cell *matHeaderCellDef> industria </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.industria}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="localizacao">
      <mat-header-cell *matHeaderCellDef> localizacao </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.localizacao}} </mat-cell>
    </ng-container>
      
    <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef> descricao </mat-header-cell>
        <mat-cell *matCellDef="let startup"> {{startup.descricao}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef> rank </mat-header-cell>
        <mat-cell *matCellDef="let startup"> {{startup.rank}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"[routerLink]="['/detail/'+row.id]"(click)="pegar(row.id)"></mat-row>
    <!-- <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"(click)="pegar(row.id)"></mat-row> -->

  </mat-table>
  <button (click)="refresh()">Atualizar</button>
  
  


   <!-- <table class="table table-hover" *ngIf="dataSet$ | async as resultSet">
    <tr *ngFor="let item of resultSet" >
        <td>{{item.name}}</td>
        <td>{{item.localizacao}}</td>
        <td>{{item.descricao}}</td>
        <td>{{item.qtdFuncionarios}}</td>
    </tr>   </table> -->