.slider{
    height: 5px;
    border-radius: 5px;
    position: relative;
    color: black;
}

.slider .progress{
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: red;
}