<div class="filters-container">
  <form class="categoria-filter">
    <mat-form-field appearance="fill">
      <mat-label>Série de Investimento</mat-label>
      <mat-select (selectionChange)="mudarCategoria($event.value)" [formControl]="categoriaForm">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{categoria}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

    <form class="localizacao-form">
      <mat-form-field class="form-filter" appearance="fill">
        <mat-label>Localizacao</mat-label>
        <input id= "localizacao-form" type="text" matInput (keyup)="filtrarCidade($event)" [formControl]="locafizacaoForm" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let startup of filteredOptions | async" [value]="startup.localizacao">
            {{startup.localizacao}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

  
  <h2>Quantidade de funcionários</h2> 
  <mat-slider
    class = "form-filter-slider"
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="10000"
    step="1"
    min="0"
    max="1000"
    aria-label="units"
    (change)="filtrarQtd($event)"
    [formControl]="qtdForm"
    >
  </mat-slider>
  <button button (click) = limparFiltros() >Limpar filtros</button>
</div>


<mat-table [dataSource]="dataSet$" class="mat-elevation-z8"*ngIf="dataSet$ | async as resultSet">
    <ng-container matColumnDef="nome">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let startup"> {{startup.nome}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="qtdFuncionarios">
      <mat-header-cell *matHeaderCellDef> Quantidade de funcionários </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.qtdFuncionarios}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="industria">
      <mat-header-cell *matHeaderCellDef> industria </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.industria}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="localizacao">
      <mat-header-cell *matHeaderCellDef> localizacao </mat-header-cell>
      <mat-cell *matCellDef="let startup"> {{startup.localizacao}} </mat-cell>
    </ng-container>
      
    <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef> descricao </mat-header-cell>
        <mat-cell *matCellDef="let startup"> {{startup.descricao}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef> rank </mat-header-cell>
        <mat-cell *matCellDef="let startup"> {{startup.rank}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"[routerLink]="['/detail/'+row.id]"(click)="startupService.getStartups2(row.id)"></mat-row> -->
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"[routerLink]="['/detail/'+row.id]"(click)="pegar(row.id)"></mat-row>
    
  
 
  
  


   <!-- <table class="table table-hover" *ngIf="dataSet$ | async as resultSet">
    <tr *ngFor="let item of resultSet" >
        <td>{{item.name}}</td>
        <td>{{item.localizacao}}</td>
        <td>{{item.descricao}}</td>
        <td>{{item.qtdFuncionarios}}</td>
    </tr>   </table> -->